/config.php
/app/Config/database.php


# Cake TMP Dirs
/app/tmp/*
!/app/tmp/

/app/tmp/cache/*
!/app/tmp/cache/
!/app/tmp/cache/empty

/app/tmp/cache/models/*
!/app/tmp/cache/models/
!/app/tmp/cache/models/empty

/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/
!/app/tmp/cache/persistent/empty

/app/tmp/cache/views/*
!/app/tmp/cache/views/
!/app/tmp/cache/views/empty

/app/tmp/logs/*
!/app/tmp/logs/
!/app/tmp/logs/empty

/app/tmp/sessions/*
!/app/tmp/sessions/
!/app/tmp/sessions/empty

/app/tmp/tests/*
!/app/tmp/tests/
!/app/tmp/tests/empty

/.gitignore
/app/tmp/cache/persistent/cake_core_method_cache
/app/tmp/cache/persistent/cake_core_file_map
/app/tmp/cache/persistent/cake_core_cake_dev_en-us
/app/tmp/cache/models/cake_model_default_users
/app/tmp/cache/models/cake_model_default_progressbar_list